@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}
body {
  margin: 0px 40px;
  width: 1200px;
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}
.page-header{

}
.navigation{
  display: flex;
  width:1060px;
  margin:0 auto;
  min-height: 64px;
}
.navigation-logo{
  display: block;
 }
.page-heador-logo{
  width:140px;
  margin-right:28px;
}
.navigation-list{
  display:flex;
  flex-wrap:wrap;
  margin:0;
  padding:0;
  list-style-type:none;

}
.navigation-link{
  font-size:20px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
  padding:20px 16px;
 }
.navigation-user{
  max-width:350px;
  margin-left: auto;
}
.navigation-item-user{
  min-width: 44px;
  min-height: 64px;
}
.navigation-link-user{
  display: inline-block;

}
.navigation-item-search{
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width:18px;
  height:18px;
  padding:22px 12px;
}
.navigation-item-heart{
  background-image: url("../images/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  width:18px;
  height:17px;
  padding:22px 12px;
  margin-right:20px;
  position: relative;
}
.main-container {
  flex-grow: 1;
margin-bottom: -6px;
}

.hero-container {
  background-image: url("../images/index-background.jpg");
  background-color: #6c94ad;
  min-height: 435px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 50px;

}
.figure-advertisement{
  height:213px;
  width: 457px;
  margin: 0 auto;
}
.advertisement {
  display: block;
  margin: 0 auto;
  margin-bottom: 83px;
}
.advantages-subtitle {
    padding: 69px 290px 25px 290px;
}
.advantages-subtitle-description {
  padding-bottom: 69px;
}
.advantages-title-size, .advantages-title-road, .advantages-title-tourist{
  margin: 0;
  padding: 112px 112px 30px 112px;
}
.advantages-description-size, .advantages-description-road, .advantages-description-tourist{
  margin: 0;
  padding: 30px 85px 112px 85px;
}
.advantages-subtitle,.services-title, .search-hotel-title, .mailing-title {
   font-family: "PT Sans", sans-serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
 }
.advantages-subtitle-description, .services-description, .search-hotel-title-description, .mailing-title-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width:1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
/*.advantages-container {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
.advantages-title{
font-family: "PT Sans",sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
  margin: 0;

}
.advantages-description {
  font-family: "PT Sans", sans-serif ;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}
.advantages-item {
  background-color: #82B3D3;
  color: #FFFFFF;
 }
.advantages-full {
  display:flex;
  width: 100%;
}

.advantages-item-size,.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  color:#000000;
  width: 400px;
}
.advantages-item-road {
  background-color:  rgba(131, 179, 211, 0.2);
  color:#000000;
  width: 400px;
}
.advantages-title-city, .advantages-title-bridge{
  margin: 0;
  padding: 102px 112px 30px 112px;
}
.advantages-description-city,.advantages-description-bridge{
  margin: 0;
  padding:30px 85px 102px 85px;
}
.services-list {
  display:flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.services-slogan {
  display: block;
  margin: 0 auto;
}
.services-title {
  padding: 64px 147px 20px 147px;
}
.services-description{
  padding:0px 355px 64px 355px;
}
.services-icon {
  padding: 81px 161px 30px 163px;
}
.services-name {
  font-family: "PT Sans", sans-serif ;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
   margin: 0;
}
.services-text {
  font-family: "PT Sans", sans-serif ;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 30px 85px 81px 85px;
}
.services-item-house, .services-item-souvenir{
  background-color: rgba(131, 179, 211, 0.12);
}
.search-hotel-box{
margin: 0;
  padding: 96px 304px;
}
.button-search-hotel {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 104px;
}
.search-hotel-title {
  margin: 0;
 padding-bottom: 20px;
  text-transform: uppercase;
}
.search-hotel-title-description {
  margin: 0;
  padding-bottom: 54px;
}
.mailing {
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/background-1.jpg");
  /*width:1200px;*/
  /*height:412px;*/
  background-color: #6c94ad;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 96px 258px 104px 258px;

}
.mailing-title{
  margin: 0;
  padding-bottom: 20px;
}
.mailing-title-description{
  margin: 0;
  padding-bottom: 54px;
}
.mailing-form{
  display: flex;
 min-width: 648px;
padding: 0;
}
.mailing-form-email{
  min-width: 452px;
}
.mailing-form button{
  min-width: 232px;
  min-height: 52px;
}
.page-footer-container {
  display:flex;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 35px;
  width: 1040px;
}

.footer-social-list {
  display:flex;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
/*.footer-social-list-container{*/
/*  max-width: 52px;*/
/*  margin-right: 230px;*/
/*}*/
.footer-social-item{
  width: 47px;
  height: 40px;
}
.contacts-address{
  max-width: 331px;
  margin-right: 230px;
}
.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  }
.logo-html{
  max-width: 115px;
  margin-left: auto;
}

.background-box {
  background-color: #82B3D3;
  background-image: url("../images/background-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  /*width:1200px;*/
  /*height:412px;*/
  color: #FFFFFF;
  padding-top:35px;
  padding-left: 70px;
  padding-right: 70px;
}
.search-hotel-container{
 display: flex;
  width: 1060px;
  padding: 50px 70px;
}


.search-hotel{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-right: 200px;
  width: 350px;
}
.select-control{
  width: 230px;
}
.container-button-view{
  width: 160px;
  margin-left: auto;
}

.inner-header-subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0px;
  margin-bottom: 8px;
  padding: 0;
}
.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
.breadcumbs{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.breadcumbs-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-right: 29px;
}
.breadcumbs-link-home{
  background-image: url("../images/svg/home.svg");
  background-size: 12px 12px;
}

.control-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.product-card-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

}
.product-list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0px 70px 40px 70px;

}
.product-card-hotel, .product-card-price {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.product-card{
  display: grid;
  grid-template-columns: repeat(2,140px);
  gap: 16px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding:20px;

}
.product-card-link{
  grid-column: 1/-1;
  text-decoration:none;
  color: black;
}

.hotel-card-rating-image{
  display: block;
}
.stars{
  margin: 0;
}
.pagination{
  display: flex;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 0;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link{
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 36px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration:none;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
}
.pagination-current{
  color: black;
  background-color: rgba(242, 242, 242, 1);
}
.page-footer a {
  text-decoration: none;
  color:#000000;
 }

/*button*/
.mailing-button{
  display: inline-block;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  corsor:pointer;
}
.button-search-hotel{
  display: inline-block;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
.button-here{
  display: inline-block;
  padding: 8px 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
}
.button-light{
  background-image: url("../images/svg/viev-icon-1.svg");
}
