@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts\ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts\ptsans-400.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}
.navigation-list {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
.navigation-list a {
  color: #000000;
}
.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("images\index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.advantages-subtitle,.services-title, .search-hotel-title, .mailing-title {
   font-family: "PT Sans", sans-serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
  text-align: center;
  text-transform: uppercase;
 }
.advantages-subtitle-description, .services-description, .search-hotel-title-description, .mailing-title-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.advantages-list {
  text-align: center;
}

.advantages-title{
font-family: "PT Sans",sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
}
.advantages-description {
  font-family: "PT Sans", sans-serif ;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.advantages-item {
  background-color: #82B3D3;
  color: #FFFFFF;
 }

.advantages-item-size,.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  color:#000000;
}
.advantages-item-road {
  background-color:  rgba(131, 179, 211, 0.2);
  color:#000000;
}
.services-list {
  text-align: center;
}
.services-name {
  font-family: "PT Sans", sans-serif ;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.services-text {
  font-family: "PT Sans", sans-serif ;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.services-item-house, .services-item-souvenir{
  background-color: rgba(131, 179, 211, 0.12);
}

.style {
  background-color: #82B3D3;
  color: #FFFFFF;

}
.inner-header-subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
.breadcumbs-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.control-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.product-card-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.product-card-hotel, .product-card-price {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.page-footer a {
  background-color: #82B3D3;
  color: #FFFFFF;
}
