@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
html{
  height: 100%;
}
body {
  margin: 0;
  width: 1200px;
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}
/*.visually-hidden {*/
/*  position: absolute;*/
/*  width: 1px;*/
/*  height: 1px;*/
/*  margin: -1px;*/
/*  border: 0;*/
/*  padding: 0;*/
/*  white-space: nowrap;*/
/*  clip-path: inset(100%);*/
/*  clip: rect(0 0 0 0);*/
/*  overflow: hidden;*/
/*}*/
.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;

}
/*навигация*/
.navigation{
  display: flex;
  width: 1030px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  width: 440px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  /*text-decoration-line: none;*/
  list-style: none;
}
.navigation-list a {
  color: #000000;
}

.navigation-user {
  max-width: 280px;
  margin-left: auto;

}

.main-container {
  flex-grow: 1;
}
.hero-container {
  background-image: url("../images/index-background.jpg");
  background-color: #6c94ad;
  min-height: 485px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.figure-advertisement{
  height:213px;
  width: 457px;
  margin: 0 auto;
}
.advertisement {
  display: block;
  margin: 0 auto;
}

.advantages-subtitle,.services-title, .search-hotel-title, .mailing-title {
   font-family: "PT Sans", sans-serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
  text-align: center;
  text-transform: uppercase;
 }
.advantages-subtitle-description, .services-description, .search-hotel-title-description, .mailing-title-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.advantages-list {
  display: flex;
  width:1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
/*.advantages-container {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
.advantages-title{
font-family: "PT Sans",sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
}
.advantages-description {
  font-family: "PT Sans", sans-serif ;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.advantages-item {
  background-color: #82B3D3;
  color: #FFFFFF;
 }
.advantages-item-city {
  display:flex;
  min-width: 1200px;
}
.advantages-item-bridge {
  display: flex;
  min-width: 1200px;
}
.advantages-item-size,.advantages-item-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  color:#000000;
}
.advantages-item-road {
  background-color:  rgba(131, 179, 211, 0.2);
  color:#000000;
}
.services-list {
  display:flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.services-slogan {
  display: block;
  margin: 0 auto;
}

.services-name {
  font-family: "PT Sans", sans-serif ;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.services-text {
  font-family: "PT Sans", sans-serif ;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.services-item-house, .services-item-souvenir{
  background-color: rgba(131, 179, 211, 0.12);
}
.search-hotel {
  margin: 0 auto;
  text-align: center;
}
.button-search-hotel {
  text-decoration: none;
}
.mailing {
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/background-1.jpg");
  /*width:1200px;*/
  /*height:412px;*/
  background-color: #6c94ad;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.page-footer-container {
  display:flex;
  margin: 0 auto;
  width: 1040px;
}

.footer-social-list {
  display:flex;
  margin: 0 auto;
  list-style: none;
}
.footer-social-list-container{
  max-width: 52px;
  margin-right: 230px;
}
.contacts-address{
  max-width: 331px;
  margin-right: 230px;
}
.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  }
.logo-html{
  max-width: 115px;
  margin-left: auto;
}
.background-box {
  background-color: #82B3D3;
  background-image: url("../images/background-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  /*width:1200px;*/
  /*height:412px;*/
  color: #FFFFFF;

}
.catalog-hotel{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
}
.inner-header-subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
.breadcumbs-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.control-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.product-card-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.product-card-hotel, .product-card-price {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.page-footer a {
  text-decoration: none;
  color:#000000;
 }
